@font-face {
	font-family:'Applebold';
	font-style:normal;
	font-weight:100;
	src: url('https://cdn.glitch.global/791b5628-e590-4a4a-a639-811942e36fe4/sf-pro-display_semibold.woff2?v=1675186334485') format('woff2');
}